.headers {
  background: #ffffff;
  padding-top: 20px;
  height: 85px;
  width: 100%;
  color: #ffffff;
}

.background {
  background-color: rgb(238, 77, 45);
}
.bg {
  background-image: url('https://cf.shopee.co.id/file/0f2438ba4562dc976a63acda2ebac3f0');
  background-size: 1030px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 95px;
}

.card {
  margin-right: 30px;
  margin-left: 30px;
}
